<form [formGroup]="form">
    <NgxSuperSelectTree formControlName="selectedValues"
                        [dataSource]="dataSource"
                        [displayPropertyName]="'name'"
                        [valuePropertyName]="'id'"
                        [parentIdPropertyName]="'parentId'"
                        (selectedValuesChanged)="onSelectedValuesChanged($event)">

    </NgxSuperSelectTree>

    <h5>Dark</h5>

    <NgxSuperSelectTree formControlName="selectedValues"
                        [dataSource]="dataSource"
                        [displayPropertyName]="'name'"
                        [valuePropertyName]="'id'"
                        [parentIdPropertyName]="'parentId'"
                        [enableDarkMode]="true"
                        (selectedValuesChanged)="onSelectedValuesChanged($event)">

    </NgxSuperSelectTree>
</form>